* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.card-container {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.377);
}

.card {
  outline: 2px solid red;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;
}

.avatar img {
  height: 100%;
  width: 100%;
}
