* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  place-items: center;
  background: #212121;
}

h1 {
  cursor: pointer;
}

/* THE 🌳 */

[node-id='3'] rect,
[node-id='3'] circle {
  fill: goldenrod;
}

[data-field-name='ppid'] {
  display: none;
}

.edit-tags {
  display: none;
}

[node-id] rect {
  rx: 10px;
}
