@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
}

.container {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  width: 30rem;
  max-width: 90%;
  min-height: 480px;
}

.container form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px;
  width: 80%;
}

button {
  margin-top: 1rem;
  border-radius: 20px;
  background-color: #ff4b2b;
  color: #fff;
  border: 1px solid #ff4b2b;
  padding: 12px 45px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in, background-color 100ms ease-in;
  outline: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: #ff6e54;
}
